/airflow/data
/airflow/logs
/airflow/postgres-data
# /argocd/data
# /argocd/logs
/gitlab/data
/gitlab/logs
/grafana/data
# /grafana/logs
/jenkins/data
# /jenkins/logs
/kong_gateway/data
# /kong_gateway/logs
# /kubernetes/data
# /kubernetes/logs
# /lite_llm/data
# /lite_llm/logs
/n8n/data/.cache
/n8n/data/.n8n
# /nexus/data
# /nexus/logs
/open_web_ui/data
# /open_web_ui/logs
/ollama/data
# /ollama/logs
/prometheus/data
/qdrant/postgres_data
/redis/redis_data
/portainer/data
# /prometheus/logs
# /ragas/data
# /ragas/logs
/logs

/secret_keys
/qdrant/storage/collections